<div class = "border-2 border-color-white p-5">
  <p class="my-5">
    <strong class="block font-bold mb-1">Title:</strong>
    <%= task.title %>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Due Date:</strong>
    <%= task.due_date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show task", task, class: "rounded-lg py-3 px-5 bg-green-600 inline-block font-medium" %>
    <%= link_to "Edit task", edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-green-600 inline-block font-medium" %>
  <% end %>
</div>
